# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore local backup/save files
*.bak*
*.save

# ignore root-level pm2 ecosystem files
ecosystem.config.js
